
<div class="grid justify-content-between">
  <div class="p-inputgroup col-sm-12 col-md-6 mb-3">
    <input pInputText type="text" class="col-6 col-md-6 mr-1" placeholder="Pesquisar cliente..." [(ngModel)]="search" (keydown.enter)="onSearch()" />
    <button pButton icon="pi pi-search" class="col-5 col-md-6" (click)="onSearch()" label="Buscar"></button>
  </div>
  <div class="p-inputgroup col-sm-12 col-md-6 mb-3">
    <button pButton icon="pi pi-plus" class="col-12 col-sm-12" severity="info" (click)="navigateTo()" label="Cadastrar Cliente"></button>
  </div>
</div>


<p-table
  [value]="clients"
  [paginator]="true"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [lazy]="true"
  (onLazyLoad)="onPageChange($event)"
  [loading]="loading"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Nascimento</th>
      <th>País</th>
      <th>Estado</th>
      <th>Ações</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-client>
    <tr>
      <td>{{ client.name }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.cpf }}</td>
      <td>{{ client.birthDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ client.country }}</td>
      <td>{{ client.state }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text" (click)="editClient(client)"></button>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="removeClient(client)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
