:host{
  .login-form {
    max-width: 400px;
    margin: 5rem auto;
    background-color: var(--p-primary-900);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    label {
      font-weight: 600;
      display: block;
      margin-bottom: 0.25rem;
      color:  var(--p-primary-100);
      .required {
        color: red;
        margin-left: 0.25rem;
      }
    }

    button{
      background-color: var(--p-primary-50);
      color: #0e0e0e;
    }

    input {
      width: 100%;
    }

    .form-error {
      color: red;
      font-size: 0.8rem;
    }

    .error-message {
      text-align: center;
      color: red;
      margin-top: 1rem;
      font-weight: 500;
    }

    button {
      margin-top: 1rem;
    }


  }

  .logo-container {
    text-align: center;
    margin-bottom: 1rem;
  }
}


