<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

  <div class="form-group">
    <label>Nome<span class="required">*</span></label>
    <input pInputText formControlName="name" placeholder="Digite seu nome"/>
    <small class="form-error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      Nome é obrigatório e deve ter no mínimo 3 caracteres.
    </small>
  </div>

  <div class="form-group">
    <label>Email<span class="required">*</span></label>
    <input pInputText formControlName="email" placeholder="email@exemplo.com"/>
    <small class="form-error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      Email inválido.
    </small>
  </div>

  <div class="form-group">
    <label>País<span class="required">*</span></label>
    <p-select
      formControlName="country"
      [options]="countries"
      optionLabel="name"
      optionValue="code"
      placeholder="Selecione um país"
    ></p-select>
    <small class="form-error" *ngIf="form.get('country')?.invalid && form.get('country')?.touched">
      País é obrigatório.
    </small>
  </div>

  <div class="form-group">
    <label>Estado<span class="required">*</span></label>
    <p-select
      formControlName="state"
      [options]="states"
      optionLabel="nome"
      optionValue="nome"
      placeholder="Selecione um estado"
    ></p-select>
    <small class="form-error" *ngIf="form.get('state')?.invalid && form.get('state')?.touched">
      Estado é obrigatório.
    </small>
  </div>

  <div class="form-group">
    <label>CPF<span class="required">*</span></label>
    <p-inputMask formControlName="cpf" mask="999.999.999-99" placeholder="000.000.000-00"></p-inputMask>
    <small class="form-error" *ngIf="form.get('cpf')?.errors?.['required'] && form.get('cpf')?.touched">
      CPF é obrigatório.
    </small>
    <small class="form-error" *ngIf="form.get('cpf')?.errors?.['cpfValid']">
      CPF inválido.
    </small>
  </div>

  <div class="form-group">
    <label>Data de Nascimento<span class="required">*</span></label>
    <p-datePicker
      formControlName="birthDate"
      [maxDate]="today"
      showIcon="true"
      dateFormat="dd/mm/yy"
      placeholder="dd/mm/aaaa"
    ></p-datePicker>
    <small class="form-error" *ngIf="form.get('birthDate')?.invalid && form.get('birthDate')?.touched">
      Data obrigatória e não deve ser maior que a data atual.
    </small>
  </div>

  <div formArrayName="contacts">

    <div class="col-md-2" [ngClass]="contacts.length == 0 ? 'mb-5': 'mb-2'">
      <p-button  size="small" icon="pi pi-plus" label="Adcionar Contato" severity="info"
              (click)="addContact()" [disabled]="contacts.length >= 3"></p-button>
    </div>
    <div
      *ngFor="let contact of contacts.controls; let i = index"
      [formGroupName]="i"
      class="grid-nogutter"
    >

      <div class="col-12 col-md-12 mb-3 mt-1">
        <p-select
          formControlName="type"
          [options]="[
            { label: 'Celular', value: 'celular' },
            { label: 'Residencial', value: 'residencial' },
            { label: 'WhatsApp', value: 'whatsapp' }
          ]"
          placeholder="Tipo"
          class="col-sm-2 col-md-2 mr-3"
        ></p-select>
        <input
          pInputText
          formControlName="number"
          placeholder="+55 (99)9 9999-9999"
          telefoneMask
          maxlength="19"
          class="col-5"
        />
        <p-button
          severity="danger"
          icon="pi pi-trash"
          class="ml-1"
          (click)="removeContact(i)"
        ></p-button>
      </div>

      <div class="col-12">
        <small class="form-error" *ngIf="contact.get('number')?.errors?.['requided'] && contact.get('number')?.touched">
          Campos obrigatórios
        </small>
        <small class="form-error" *ngIf="contact.get('type')?.errors?.['requided'] && contact.get('type')?.touched">
          Campos obrigatórios
        </small>
        <small class="form-error" *ngIf="contact.get('number')?.errors?.['celularInvalido']">
          Celular deve iniciar com 9.
        </small>
        <small class="form-error" *ngIf="contact.get('number')?.errors?.['dddObrigatorio']">
          DDD obrigatório.
        </small>
        <small class="form-error" *ngIf="contact.get('number')?.errors?.['telefoneInvalido']">
          Telefone inválido.
        </small>
      </div>
    </div>
  </div>

  <div class="grid col-md-2 justify-content-end">
    <p-button class="mr-2" pButton severity="contrast" size="small" label="Voltar" (onClick)="navigateTo()"></p-button>
    <p-button pButton severity="primary" type="submit" size="small" label="Salvar" [disabled]="form.invalid"></p-button>
  </div>

</form>
