:host {
  ::ng-deep .p-menubar {
    border-radius: 0;
  }

  @media (max-width: 768px) {
    :host ::ng-deep .p-menubar-root-list {
      flex-direction: column;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}



